body, html{
  height: 100%;
}

body{
  background-color: #fafafa;
  color: #111;
  font-family: Calibri, Verdana, sans-serif;
}

#content{
  height: 100%;
  max-width: 700px;
  margin: 50px auto;
  font-size: 1.2em;
}

#navn{
  font-size: 14px;
}

}
/* Link Section */
a{
  color: blue;
  font-style: normal;
  text-decoration: none;
}

a:visited {
  color:blue;
}
a:hover{
  color:green;
}

article{
  margin: 5em 0;
}

h1{
  font: 2.5em 'Syncopate', Verdana, sans-serif;
  text-align: center;
}

h2{
  font: 2em 'Libre Franklin', Verdana, sans-serif;
  text-align: center;
  padding: 0.8em 0 0 0.2em;
}

h4{
  font-style: normal;
  text-align: center;
  font-weight: normal;
  color: #666;
}


#frontpage{
  height: 100% !important;
  position: relative;
  margin: auto;
}

header{
  width: 100%;
  margin: 55% auto 10% auto;
  position: absolute;
  bottom: 200px;
}


header h1{
  font-size: 3em;
  margin-bottom: 0;
}

header h4{
  margin-top: 5px;
}

header hr{
  margin: 2em;
}

header p{
  text-align: center;
  font-size: 0.9em;
}

#arrow{
  height: 200px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -40px;
}

#arrow-down{
  color: #aaa;
  font-size: 5em;
  text-align: center;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
}
@media screen and (max-height: 480px) {
    header {
        position: relative;
        margin: auto;
        bottom: 0px;
    }
    #arrow{
      display: none;
    }
}


#table-of-content ol li{
  margin: 0.5em 0;
}

#special-prefrences h5{
  font-size: 1.1em;
  font-weight: 500;
  margin: 0.2em;
}

/*
  Scrolling
*/
a[ id= "table-of-content" ]:target {
    -webkit-transform: translateY( -1000px);
    transform: translateY( -1000px );
}

a[ id= "galeria" ]:target ~ #main article.panel {
    -webkit-transform: translateY( -500px );
    transform: translateY( -500px );
}
a[ id= "contacto" ]:target ~ #main article.panel {
    -webkit-transform: translateY( -1000px );
    transform: translateY( -1000px );
}
