header{
/*  height: 50px;*/
  background-color: #2A8084;
  height: 130px;
  font-family: 'Press Start 2P', cursive;
  color: #E5A02E;
  text-decoration: none;
}
header a{
  color: #E5A02E;
  text-decoration: none;
}

#header_container{
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1000px;
  position: relative;
}

#header_container > *{
  display: inline-block;
}

#header_container > div{
  margin-top: 30px;
  position: relative;
}
#heightHeader{
  height: 15%;
}
.circle{
  border: 7px solid #E5A02E;
  border-radius: 100px;
  overflow: visible;
  top: 10px;
  position: relative
}
.logo{
  position: absolute;
  top: 60px;
  right: -220px;
  font-size: 2.2em;
}

#logo_pic{
  height: 120px;
}

#header_container nav{
  position: absolute;
  right: 10px;
  top: 90px;
}

.navbox{
  font-weight: 400;
  font-size: 0.8em;
  letter-spacing: 0.1;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  margin: 0;
  height: 20px;
  min-width: 80px;
}

@media (max-width: 760px) {
  header{
  /*  height: 50px;*/
    height: 260px;
  }
  .navbox{
      display: none;
      display: block;
  }
  #header_container nav{
    position: relative;
    margin: auto;
  }
}

/* Drop down meny */

.navbox:hover, .navbox:focus{

}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown_content{
  visibility: hidden;
  display: block;
  position: absolute;
  background-color: #E5A02E;
  min-width: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  left: 85px;
  font-size: 12px;
  border-radius: 10px;
}
#about_drop_down{
  left: 155px;
}
.dropdown_content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

.dropdown_content a:hover {
  background-color: #f1f1f1;
  border-radius: 10px !important;
}
