/* White #FAFAFA, Blue #2A8084, Yellow #E5A02E */

body{
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
}

.section{
  border-top: 2px solid black;
  padding-bottom: 1px;
  margin-bottom: -16px;
}

.section > *{
  max-width: 800px;
  margin: 0 auto;
}
#greeting, #advice, #time{
  position: relative;
  float: right;
}

#into {
  text-align: center;
}

#content-section{
  background-color: #fafafa;
  padding-top: 60px;
}
#box-section{
  padding: 20px 0;
  background-color: #E5A02E;
}
#heightContainer {
  height: 75%;
}

#footer{
  position: relative;
  bottom: 0;
  background-color: #2A8084;
  text-align: center;
  max-width: 100%;
  font-size: 1em;
  padding: 20px;
  weight: 130px;
  font-family: 'Press Start 2P', cursive;
  color: #E5A02E;
  text-decoration: none;

}
#footer > *{
  margin-bottom: 5px;
}


.box{
  display: inline-block;
  max-width: 300px;
  width: 25%;
  margin-left: 5%;
  margin-right: -5px;
  background-color: #fafafa;
  border: 7px solid #258084;
  text-align: center;
}

.box h2{
}
.box p{
  margin: 0 5px;
  text-align: left;
}
.box button{
  margin: 10px auto;
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
}
.box button:hover{
  background-color: #eaeaea;
}

@media (max-width: 750px) {
  .box{
    display: block;
    width: 100%;
    margin: 10px auto;
  }
}

figure {
  align-self: center;
}

figcaption{
  font-size: 13px;
  font-family: sans-serif;
  text-align: center;
}

figure img{
  max-width: 250px;
}
