/* White #FAFAFA, Blue #2A8084, Yellow #E5A02E */

body{
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
}

.section{
  border-top: 2px solid black;
}

section:nth-child(odd){
  background-color: #E5A02E;
}

.section > *{
  max-width: 800px;
  margin: 0 auto;
}

#content-section{
  background-color: #fafafa;
  padding-top: 60px;
}
#box-section{
  padding: 20px 0;
  margin-top: -16px;
}


.box{
  display: inline-block;
  max-width: 300px;
  width: 25%;
  margin-left: 5%;
  margin-right: -5px;
  background-color: #fafafa;
  border: 7px solid #258084;
  text-align: center;
}

.box h2{
}
.box p{
  margin: 0 5px;
  text-align: left;
}
.box button{
  margin: 10px auto;
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
}
.box button:hover{
  background-color: #eaeaea;
}

@media (max-width: 750px) {
  .box{
    display: block;
    width: 100%;
    margin: 10px auto;
  }
}

figure {
  align-self: center;
}

figcaption{
  font-size: 13px;
  font-family: sans-serif;
  background-color: #E5D8B5;
  text-align: center;
}
